*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.nav-container{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__li{
    margin: 0 10px;
}

.nav__link{
    text-decoration: none;
    color: #494949;
    font-size: 13px;
}

.nav__link:hover{
    text-decoration: underline;
}

.nav-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.nav-btn:hover{
    background-color: #8080801f;
}


.nav-btn > i{
    font-size: 19px;
    color: #494949;
    padding-top: 2px;
}
.nav-btn > img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

/* --------------- main ---------------- */

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 95px 0;
}

.main-container > img{
    width: 270px;
    margin-bottom: 50px;
}

.input-container{
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    box-shadow: 1px 1px 6px #80808086;
    margin-bottom: 20px;
}

.input-container-i{
   width: 10%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.input-container-i > .bi-mic-fill{
    cursor: pointer;
}

.input-container-input{
    width: 80%;
    height: 100%;
}

.input-container-input > input{
    width: 100%;
    height: 100%;
    font-size: 15px;
    outline: none;
    border: none;
}

/* ---------------------------------------- */

.direct-access{
    width: 300px;
    height: 200px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.item{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.item:hover{
    background: #80808038;
}

.item__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item__bg-logo{
    width: 40px;
    height: 40px;
    background: rgba(241, 243, 244, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.item__bg-logo > i{
    font-size: 25px;
    color: rgb(0, 60, 255);
}

.item__container > span{
    margin-top: 10px;
    font-size: 12px;
}

.item__btn{
    width: 28px;
    height: 28px;
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 0;
}

.item__btn:hover{
    background: #8080804f;
}

.item__btn:active{
    background: #80808071;
}

.item__btn > i{
    color: #383838e3;
    font-size: 16px;
}

.item:hover > .item__btn{
    opacity: 1;
}

.item__bg-logo > .bi-plus{
    font-size: 30px;
    color: #252525;
}


/* --------------------------------------------- */

.customize-btn{
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    bottom: 15px;
    border-radius: 50px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 7px #80808088;
    cursor: pointer;
    background: #fff;
}

.customize-btn > i{
    margin-right: 10px;
    color: #1a73e8;
}

.customize-btn > span{
    color: #1a73e8;
}


@media screen and (max-width: 750px) {
    .customize-btn{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .customize-btn > i{
        margin-right: 0;
    }
    
    .customize-btn > span{
        display: none;
    }
}